.valimine{
    position: fixed;
    width: 800px;
    height: 800px;
}

.valimine div {
    position: absolute;
    border-radius: 50%;
    border: solid 1px black;
    cursor: crosshair;
}

.valimine div:nth-child(1){
    height: 24%;
    width: 24%;
    background-color: white;
    left: 38%;
    top: 38%;
}

.valimine div:nth-child(2){
    height: 20%;
    width: 20%;
    background-color: red;
    left: 40%;
    top: 40%;
}

.valimine div:nth-child(3){
    height: 16%;
    width: 16%;
    background-color: white;
    left: 42%;
    top: 42%;
}

.valimine div:nth-child(4){
     height: 12%;
     width: 12%;
     background-color: red;
     left: 44%;
     top: 44%;
 }

.valimine div:nth-child(5){
    height: 8%;
    width: 8%;
    background-color: white;
    left: 46%;
    top: 46%;
}

.valimine div:nth-child(6){
    height: 4%;
    width: 4%;
    background-color: red;
    left: 48%;
    top: 48%;
}

.duck{
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
}